.hidden {
  visibility: hidden;
  display: none;
}
aside[epub|type~="annotation"] {
  width: 50%;
  font-size: 0.7em;
  border-top: 0.1em solid rgb(100, 100, 100);
  margin-top: 1.5em;
}
span[epub|type~="pagebreak"] {
  padding: 0.1em 0.3em;
  border: 1px solid rgb(180, 180, 180);
  text-align: center;
  color: rgb(180, 180, 180);
  font-size: smaller;
}
span.c8 {
  margin-left: 1em;
  display: block;
}
.line {
  display: block;
}
.poem {
  text-align: left;
  margin-right: 10%;
  margin-left: 30%;
}
.smcap {
  font-variant: small-caps;
}
.center {
  text-align: center;
}
.intro {
  text-align: justify;
  margin: 0.75em 2em;
  font-family: Calibri, Arial, sans-serif;
}
p {
  margin-bottom: 0.75em;
  text-indent: 1.25em;
  text-align: justify;
  margin-top: 0.75em;
}
div[epub|type~="z3998:author"] {
  text-align: center;
  font-weight: bold;
  font-size: small;
}
span[epub|type~="bridgehead"] {
  font-weight: bold;
}
.subhd {
  margin-top: 0.5em;
  display: block;
}
h3 {
  page-break-before: always;
}
h2 {
  padding-top: 1em;
  page-break-before: always;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
@namespace epub "http://www.idpf.org/2007/ops";

body {
  padding: 0;
  border: 0;
  margin: 0.5em 1em 0 0.5em;
  background-color: rgb(255, 255, 255);
  font-family: calibri, arial, helvetica, sans-serif;
  color: rgb(0, 0, 0);
}
